<html ng-app='myApp'>
<head>
  <title>Multiplication Table</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js" type="text/javascript"></script>
  <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
  <div ng-controller="MultiplcationController" initial-number-limit="10">
    <input type='number' ng-model='numberLimit' placeholder='Enter a number'>
    <table>
      <tr ng-repeat="numberA in numbers">
        <td ng-repeat="numberB in numbers">
          {{ compute(numberA, numberB) }}
        </td>
      </tr>
    </table>
  </div>
  <script src='./myApp.js'></script>
</body>
</html>
